body{ font-family: Roboto, Oxygen,
        margin: 0px;

}

.orange{ color: orangered;

}
.section1{ display: flex;
            margin-bottom: 80px;
            

}


.half-div{ width: 80%;
            padding: 2%;

}

h1{ font-size: 40px;
        color: rgb(41, 48, 51);
    

}
.para{ font-family: 'Roboto', sans-serif;
            color: rgb(60, 61, 63);
}

.half-div img{ width: 60%;

}

.link-button{ text-decoration: none;
                background-color: orangered;
                background-image: linear-gradient(orange,tomato);
                padding: 13px  30px;
                border-radius: 25px ;
                color: white;
                font-weight: bold;

}
#second-img{ width: 40%;

}

.top-banner{background-image: url(images/shapes/7.png);


}
            


.h2-recipy{text-align: center;
            color: gray;
            font-weight: bold;
            font-family: 'Roboto', sans-serif; 
            margin-left: 60px;

}

.recipy-paragraph{text-align: center;
                 height: 80px;
                 width:600px;
                 margin-left: 350px;
                 color: gray;
                 font-family: 'Roboto', sans-serif; 


}
.recipy-division{ display: inline-flex;


}

.image{ float: left;
            display: inline;
            width: 95%;

}

.box{box-shadow: 10px 10px 80px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    


}

.end-paragraph{ color: gray;
                font-family: 'Roboto', sans-serif;


}
h3{font-family: 'Roboto', sans-serif;
    color: gray;
    font-weight: 700;

}

.fan-following{box-shadow: 10px 10px 30px gray;
        width: 1200px;
        height:250px;
        
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 2%;
        padding-left: 10px;
        border-radius: 10px;

}
.last-div{ display: flex;
             width: 30%;


}

.unorder-list{ display: inline;
                list-style-type: none;
                


}

li{ float: left;
         margin: 10%;
         margin-top: 5%;
         font-family: 'Roboto', sans-serif; 


}


